.o_calendar_view .fc-timegrid-slot {
    height: 35px !important; /* Высота карточки урока */
}    

.o_calendar_view .fc-event-main {
    color: black !important; /* Цвет текста */
    font-size: 13px !important; /* Размер шрифта */    
    line-height: 1 !important;
}